In [1]:
import pydriller as pyd
import pandas as pd
from datetime import datetime

In [2]:
tf_source = pd.DataFrame(columns=['commit_ID', 'Author', 'Authored_Date','email','msg','Commiter','committer_date',
                                  'project_path','Commit_before', 'Commit_after','diff','Added_LOC','Removed_LOC',
                                 'Num_LOC','token_counts'])

In [3]:
tf_dt1 = datetime(2017,1, 1)
tf_dt2 = datetime(2017, 12, 30)
#tf_bug = pd.DataFrame(columns=['commit_ID', 'Author','Authored_Date','email','msg', 'Commiter','committer_date',
                              # 'project_path','Commit_before', 'Commit_after','diff','Added_LOC','Removed_LOC',
                              # 'Num_LOC','token_counts'])
#path = ["https://github.com/balloob/pychromecast.git"]
path = ["https://github.com/pandas-dev/pandas.git"]
Authors = ['Daniel Saxton','William Ayd']

In [4]:
#, only_authors=Authors , since=tf_dt1, to=tf_dt2
for commit in pyd.RepositoryMining(path_to_repo=path, only_authors=Authors).traverse_commits():
    for modified_file in commit.modifications:
        if modified_file.filename.endswith(".py"):
            tf_source = tf_source.append({'commit_ID': commit.hash, 'Author': commit.author.name, 
                                          'Authored_Date':commit.author_date , 'email': commit.author.email,
                                          'msg': commit.msg,'Commiter': commit.committer.name, 'committer_date': commit.committer_date,
                                          'project_path':path,'Commit_before': modified_file.source_code_before,
                                          'Commit_after': modified_file.source_code,'diff':modified_file.diff,
                                          'Added_LOC':modified_file.added,'Removed_LOC':modified_file.removed,
                                          'Num_LOC':modified_file.nloc,'token_counts':modified_file.token_count}, ignore_index=True)
                #print("Code", commit.hash, commit.author.name, commit.msg,commit.author_date,
                        # modified_file.filename, flush=True)

Exception ignored in: <finalize object at 0x23d2f21a1a0; dead>
Traceback (most recent call last):
  File "C:\Users\morad\Anaconda3\lib\weakref.py", line 572, in __call__
    return info.func(*info.args, **(info.kwargs or {}))
  File "C:\Users\morad\Anaconda3\lib\tempfile.py", line 795, in _cleanup
    _shutil.rmtree(name)
  File "C:\Users\morad\Anaconda3\lib\shutil.py", line 516, in rmtree
    return _rmtree_unsafe(path, onerror)
  File "C:\Users\morad\Anaconda3\lib\shutil.py", line 395, in _rmtree_unsafe
    _rmtree_unsafe(fullname, onerror)
  File "C:\Users\morad\Anaconda3\lib\shutil.py", line 395, in _rmtree_unsafe
    _rmtree_unsafe(fullname, onerror)
  File "C:\Users\morad\Anaconda3\lib\shutil.py", line 395, in _rmtree_unsafe
    _rmtree_unsafe(fullname, onerror)
  [Previous line repeated 1 more time]
  File "C:\Users\morad\Anaconda3\lib\shutil.py", line 400, in _rmtree_unsafe
    onerror(os.unlink, fullname, sys.exc_info())
  File "C:\Users\morad\Anaconda3\lib\shutil.py", line 398, in _rmtree_unsafe
    os.unlink(fullname)
PermissionError: [WinError 5] Access is denied: 'C:\\Users\\morad\\AppData\\Local\\Temp\\tmpun0d2awv\\pandas\\.git\\objects\\pack\\pack-c062b39cf33627018ad8d58c06827eb24dffe8bf.idx'

In [10]:
tf_source.to_csv(r'C:\GH-Dataset\extra.csv', index=None, header=True)

In [3]:
tf_source =  pd.read_csv('C:\GH-Dataset\GH_Data_new.csv')

In [9]:
tf_source.shape

(629, 15)

In [20]:
LDA_code = tf_source.groupby(['Author']).size().reset_index(name='count')

In [21]:
LDA_code

                        Author  count
0                         3vts     52
1         Abdullah İhsan Seçer     50
2   Albert Villanova del Moral    121
3         Alexander Ponomaroff    103
4           Anders Melchiorsen    379
..                         ...    ...
88                  h-vetinari    254
89                jbrockmendel   6421
90              joshin4colours     24
91                   jschendel    109
92                  topper-123   1340

[93 rows x 2 columns]

In [182]:
a= ['Jiaxiang',
'Wenhuan',
'anmyachev',
'ganevgv',
'pilkibun',
'syutbai']

In [204]:
tf_source = Final_source

In [183]:

tf = tf[~tf['Author'].isin(a)]

In [213]:
#tf_source[tf_source['Author'] =='Bas Nijholt'].shape
tf_source.shape

(47733, 15)

In [199]:
#LDA_code.sort_values(by=['count'],ascending=True).reset_index()
good = LDA_code[LDA_code['count']>20]

In [196]:
LDA_Author = LDA_code[LDA_code['count']>19]['Author']
Final_source = tf_source[tf_source['Author'].isin(LDA_Author)]

In [197]:
Final_source.shape

(39925, 15)

In [198]:
LDA_code = Final_source.groupby(['Author']).size().reset_index(name='count')

In [201]:
good[good['count']<50]

                                               Author  count
4                                            Anjana S     37
5                                         Avinash Sen     24
14                                       Erik Nilsson     40
17                                        Hugh Kelley     44
18                                         Irv Lustig     46
26                                   Kara de la Marck     40
27                                      Kendall Masse     24
29                                   Ksenia Gueletina     25
30                                       LeakedMemory     46
46                                      Ryan Nazareth     35
49  Srinivas Reddy Thatiparthy (శ్రీనివాస్  రెడ్డి...     38
54                                       Thijs Damsma     47
55                                             Tola A     43
57                                       Varad Gunjal     20
58                                     Vikramjeet Das     22

In [202]:
LDA_code

                        Author  count
0                         3vts     52
1         Abdullah İhsan Seçer     50
2   Albert Villanova del Moral    121
3         Alexander Ponomaroff    103
4                     Anjana S     37
..                         ...    ...
61                     gfyoung   1384
62                  h-vetinari    254
63                jbrockmendel   6421
64                   jschendel    109
65                  topper-123   1340

[66 rows x 2 columns]

In [120]:
test[test['count']>30]

                                                Author  count
9                                             Anjana S     37
11                                         ArtinSarraf     36
18                                       Brian Wignall     36
32                                        Erik Nilsson     40
35                                        Fábio Rosado     33
46                                        Jerod Estapa     34
55                                    Kara de la Marck     36
83                                       Roman Yurchak     32
84                                       Ryan Nazareth     35
89   Srinivas Reddy Thatiparthy (శ్రీనివాస్  రెడ్డి...     38
111                                        alphaCTzo7G     32
117                                            ganevgv     34
125                                             luzpaz     31
131                                     rebecca-palmer     33
133                                            syutbai     31

In [2]:
Final_source =  pd.read_csv('C:\GH-Dataset\GH_Data_new.csv')

In [3]:
final = Final_source + Final_source

In [4]:
final.to_csv(r'C:\GH-Dataset\GH_Data_agre.csv', index=None, header=True)